* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(130deg, rgb(189, 79, 180), rgb(79, 79, 189));
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background: white;
    margin: 10px;
}

.target {
    width: 100%;
    height: 100%;
    background: url(download.jpeg)
}

.dragging {}